[@ww.textfield labelKey="akamaiccu.username" name="username" required='true'/]
[@ww.password labelKey="akamaiccu.password" name="password" required='true'/]
[@ww.select labelKey="akamaiccu.type" name="type" list="%{{'arl','cpcode'}}"/]
[@ww.textarea labelKey="akamaiccu.objects" name="objects" required='true' cols="20" rows="10"/]
[@ui.bambooSection titleKey='akamaiccu.advanced' collapsible=true isCollapsed=!(action != 'remove' || domain != 'production' || waitForCompletion)]
	[@ww.select labelKey="akamaiccu.action" name="action" list="%{{'remove','invalidate'}}"/]
	[@ww.select labelKey="akamaiccu.domain" name="domain" list="%{{'production','staging'}}"/]
	[@ww.checkbox labelKey="akamaiccu.waitForCompletion" name="waitForCompletion"/]
[/@ui.bambooSection]
